@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    transition:
      color 0.3s,
      background-color 0.3s;
  }
  input[type="color"] {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
}
